h1
{
  color: green;
  font-family:serif;
}
/* img{
    border-radius: 50%;
} */
img{
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
.panel-body{
    background-color: white;
  }
.imgnew img{ 
  width: 330px;
  height: 250px;
  border-radius: 3%;
}
.panel panel-info{
  width: 5px;
}